/* Generic Selectors */
 
 html {
 	background: #A31A1A center center fixed;
 	background-size: cover;
 	padding: 1px 1px 1px 1px;
 }
body {
	display: block;
   font-family: Arial, Georgia, "Times New Roman", Times, serif;
   font-size: 14px;
   color: #000000;
   overflow: scroll;
}
 
li {
   list-style-type: none;
}
 
h1 {
   font-family: Arial, Georgia, "Times New Roman", Times, serif;
   font-size: 44px;
   font-weight: bold;
   color: #000000;
}
 
h2 {
   font-family: Arial, Georgia, "Times New Roman", Times, serif;
   font-size: 16px;
   font-weight: bold;
   color: #000000;
   border-bottom: 1px solid #C6EC8C;
}
 
 div.titlebar {
 	position: relative;
 	height: 50px;
   background: linear-gradient(to right, #A31A1A , #000000);
 	/* NOT YET IMPLEMENTED */
 }
div.titlebar h1 {
	font-family: Arial, Georgia, "Times New Roman", Times, serif;
   font-size: 44px;
   font-weight: bold;
   color: black;
}
 
div.slideshow {
	position: relative;
 	height: 250px;
 	background: blue;
 	/* NOT YET IMPLEMENTED */
 }
 div.slideshow p {
 	background: yellow;
 	position: absolute;
	top: 50%;
	left: 50%;
	margin-right: -50%;
	transform: translate(-50%, -50%)
 }
 
 div.joinArea {
	height: 100px;
	position: relative;
	/*background: red;*/
 }
 div.joinArea button {
 	position: absolute;
	top: 50%;
	left: 50%;
	margin-right: -50%;
	transform: translate(-50%, -50%)
 }
 
 div.leftFiller {
 	position: relative;
 	height: 400px;
 }
 div.leftFiller img {
 	/* nothing for now */
 }
 
 div.bandwagon {
	position: relative; 	
 	height: 100px;
 	background: green;
 	/* NOT YET IMPLEMENTED */
 }
 div.bandwagon p {
 	position: absolute;
	top: 50%;
	left: 50%;
	margin-right: -50%;
	transform: translate(-50%, -50%)
 }
 
div.centralText {
 	padding: 10px 10px 10px 10px;
 }
 
div.recentActivity {
	padding: 10px 10px 10px 10px;
	position relative;
	height: 450px;
	/* NOT YET IMPLEMENTED */
} 

div.testemonial {
	/* NOT YET IMPLEMENTED */
	position: relative;
	height: 100px;
}
div.testemonial q {
	position: absolute;
	font-family: Arial, Georgia, "Times New Roman", Times, serif;
   font-size: 20px;
   quotes: '«' '»';
	top: 50%;
	left: 50%;
	margin-right: -50%;
	transform: translate(-50%, -50%)
}
div.testemonial p {
	position: absolute;
	font-family: Arial, Georgia, "Times New Roman", Times, serif;
   font-size: 14px;
	top: 60%;
	left: 50%;
}
 html.signup {
 	/* Need to implement background */
 	/* NOT YET IMPLEMENTED */
 }
 
 div.signupForm {
 	background: #FFFFFF;
 	position relative;
 	width: 100%;
 	height: 100%;
 }
 div.signupForm p {
 	position: absolute;
 	top: 50%;
	left: 50%;
	margin-right: -50%;
	transform: translate(-50%, -50%)
 }
 div.left {
 	position: relative;
 	clear: left;
 	float: left;
 	width: 25%;
 }
 
 div.right {
 	position: relative;
 	clear: right;;
 	float: right;
 	width: 25%;
 }
 
 div.center {
 	position: relative;
 	clear: both;
 	display: inline-block;
 	width: 50%;
 }
 
/**************** Pseudo classes ****************/
 
a:link {
   color: #00CC00;
   text-decoration: underline;
   font-weight: bold;
}
 
li :link {
   color: #00CC00;
   text-decoration: none;
   font-weight: bold;
}
 
a:visited {
   color: #00CC00;
   text-decoration: underline;
   font-weight: bold;
}
 
li a:visited {
   color: #00CC00;
   text-decoration: none;
   font-weight: bold;
}
 
a:hover {
   color: rgb(0, 96, 255);
   padding-bottom: 5px;
   font-weight: bold;
   text-decoration: underline;
}
 
li a:hover {
   display: block;
   color: rgb(0, 96, 255);
   padding-bottom: 5px;
   font-weight: bold;
   border-bottom-width: 1px;
   border-bottom-style: solid;
   border-bottom-color: #C6EC8C;
}
 
a:active {
   color: rgb(255, 0, 102);
   font-weight: bold;
}
